@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: auto;
  background: black;
  
  
  
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
 background: #141414 ;
 height: 60px;
 width: 100%;
}


  
  nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
  }
  button{
    background: none;
    outline: none;
    border:none;
    transition: .5s;
    
  }
  
  button:hover{
    width: 60px;
    height: 30px;
    background: white;
    color: black;
    border-radius: 10px;
    border:1px solid red;
    padding: 2px;
  }
a:hover{
  color: black;
}
main{
  margin-top: 50px;
}

.container{
  width: 100%;
  background:white;
  height: 250px;
  border-bottom: 5px solid #757575;
  

  
}

.container .img{
  width: 100%;
  height: 250px;
  opacity: 1;
}
.container h1{
  color: white;
  font-size: 80px;    
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  
  
  
}

h1, main p{
  color: white;
  
  padding: 10px;
}


.welcome{
  width: 100%;
  height: 45px;
  background: #ACACAC;
  border-radius: 30px;
  display: flex;
  align-items: center ;
  justify-content: center;
  opacity: 0;
  animation-name: welcome;
  animation-duration: 8s ;
  animation-delay: .5s;
  animation-timing-function: linear ;
  
  
  
  
}

@keyframes welcome{
 0%{ opacity: 0;}
 50%{opacity: 1;}
 100%{opacity: 0;}
   
 
  
  
}

@keyframes blogs{
  0%, 100%{
    color: red;
  }
  
  50%{
    color: green;
  }
}

.chatbox{
  position: sticky;
  top: 60px;
  background:#5664FF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top:20px;
  margin-left: 10px;
  
}

.chatbox i{
  color: white;
  font-size: 30px;
}

b{
  font-weight: 900;
}

.blogs{
  width: 100%;
 min-height: 150px;
  background: gainsboro;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  
  
  
}
.blogs h1{
  color: black;
}

.blogs ul li a{
  color: #350FFF;
  font-size: 20px;
  font-weight: 500;
  animation-name: blogs;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
 
 footer{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #404040;
   flex-direction: column;
   margin-top: 40px;
   
 }
 
 footer .footer a{
   font-size: 50px;
   color: white;
   
 }

 
 
 

